footer {
    background: #7266D8;
    color: #fff;
    font-family: 'Gilroy-Light';
}

.footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-left, .footer-right {
    width: 40%
}

.footer-logo {
    width: 260px;
}

.footer-logo img {
    width: 100%;
    object-fit: cover;
}

.footer-text {
    color: #fff;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    margin: 20px 0;
    line-height: 25px;
}

.social-icons-container {
    display: flex;
}

.social-icon-wrapper{
    background: rgba(207, 207, 207, 0.589);
    height: 45px;
    width: 45px;
    margin-right: 30px;
    display: flex;align-items: center;justify-content: center;
    border-radius: 25px;
    transition: .3s;
    cursor: pointer;
}

.social-icon-wrapper:hover{
    background: #877ddda2;
}

.social-icon{
    width: 20px;
    height: 22px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.links {
    flex: 1;
}

.useful-links ul, .contact ul {
    list-style-type: none;
    font-family: 'Gilroy-Light';
}


.useful-links h4, .contact h4 {
    margin-bottom: 10px;
    font-family: 'Gilroy-Bold';
}

.useful-links ul li, .contact ul li {
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .2s;
    font-family: 'Gilroy-Medium';
}

.useful-links ul li:hover, .contact ul li:hover {
    color: #aaa;
}

.footer-email {
    position: relative;
    width: 40%;
}

.footer-email input {
    border: none;
    padding: 10px;
    margin-top: 18px;
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
}

.send-icon {
    position: absolute;
    content: '';
    width: 20px;
    right: 10px;
    top: 50%;
    transition: .2s;
    cursor: pointer;
}

.send-icon:hover {
    color: red;
}

.footer-btm {
    background: #463AB2;
    padding: 15px;
}

.footer-btm p {
    text-align: center;
    color: rgb(199, 199, 199);
    font-family: 'Gilroy-Light';
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .footer-top{
        flex-direction: column-reverse;
    }
    .footer-left, .footer-right {
        width: 80%
    }

    .footer-email {
        width: 90%;
        margin-bottom: 30px;
    }

    .footer-links {
    justify-content: start;
    }

   .useful-links{
       flex: 2;
   }

   .contact{
       flex: 1;
   }

    .footer-logo {
        width: 160px;
    }

    .social-icon-wrapper{
        height: 35px;
        width: 35px;
        margin-right: 20px;
        display: flex;align-items: center;justify-content: center;
        border-radius: 25px;
    }
    
    .social-icon{
        width: 16px;
        height: 20px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 992px) {.useful-links{
    flex: 3;
}

.contact{
    flex: 1;
}}